.dtBg {
    background-color: #ff8c42;
    margin: 25px 25px;
    padding-right: 50px;
    padding-left: 50px;
    overflow: hidden;
    border-radius: 18px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
}

.btnHome{
    color: #ff4a1c;
    background-color: #140b09;
    border-color: #140b09;
    border-radius: 5px;
    padding: 3px;
    font-size: 20px;
    position: relative;
    float: left;
}
.btnHome:hover{
    color: #be0506;
    cursor: pointer;
} 

.info{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
.name {
    text-align: center;
}

.img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid #be0506;
}