.recipes {
    background-color: #F88030;
    margin-left: 20px;
    margin-top: 25px;
    width: 350px;
    overflow: hidden;
    border-radius: 18px;
    border: 1px solid black;
    
}
.recipes:hover {
    background-color: #ff8c42;    
}

.link{
    text-decoration: none;
}

.info{
    color: black;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img{
    border-radius: 10px;
    vertical-align: text-bottom;
    width:90%;
    height:100%;
}

.diets{
    color: black;
    text-align:left;
    margin-left: 25px;
}

.listDiet {
    list-style-type:circle;
    position: relative;
    padding: 5px;
    margin-bottom: 5px;
}
.delete{
    color: #ff4a1c;
    background-color: black;
    border-color: black;
    border-radius: 5px;
    padding: 3px;
    font-size: 20px;
    margin-left: 140px;
    margin-top: 10px;
}

.delete:hover {
    color: #ffffff;
    cursor: pointer;
}

