.home {
    background-image: url('../images/background\ 2.jpg');
    background-position: inherit;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pagCont{
    display: flex;
    align-items: center;
    
}
.prev{
    color: black;
    background-color: #ff4a1c;
    border-color: #ff4a1c;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 25px;

}

.prev:hover{
    color: #ffffff;
    cursor: pointer;
}

.next{
    /* display: inline; */
    color: black;
    background-color: #ff4a1c;
    border-color: #ff4a1c;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 25px;
    
}

.next:hover{
    color: #ffffff;
    cursor: pointer;
}
.er{
    background-image: url('../images/background\ 2.jpg');
    font: small-caps bold 50px/1 sans-serif;
    color: #be0506;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}