.form{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nameCont{
    width: 51%;
}
.inpName {
    width: 99%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
}

.sumCont{
    width: 51%;
}
.inpSum{
    width: 99%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    resize: none;
}

.healthCont{
    width: 51%;
}
.inpHealth {
    width: 98%;
    padding: 12px;
    margin: 8px;
    box-sizing: border-box;
}

.inpSteps{
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    resize: none;

}

.diets{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
}
.diets:focus{
    color:black;
    background: transparent;
}

.btn{
    color: black;
    background-color: #ff4a1c;
    border-color: #ff4a1c;
    border-radius: 5px;
    padding: 3px;
    font-size: 20px;
}
.btn:hover{
    color: #be0506;
    cursor: pointer;
}
.btn:disabled{
    color:gray;
    background-color: black;
    border-color: black;
    text-decoration: dashed;
    cursor: not-allowed;
}
.img {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
}

.errName{
    color: #be0506;
}
.errSum{
    color: #be0506;
}
.errHealth{
    color: #be0506;
}
.list{
    width: 50%;
}

.diet{
    float:left;
    margin-right: 10px;
    margin-bottom: 20px;
}
.btnDelete{
    color: black;
    background-color: #ff4a1c;
    border-color: #ff4a1c;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}
.btnDelete:hover {
    color: #ffffff;
    cursor: pointer;
}
