.list{
    display: inline-block;
    margin: 30px 10px;
}
.btn{
    color: black;
    background-color: #ff4a1c;
    border-color: #ff4a1c;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

.btn:hover{
    color: #ffffff;
    cursor: pointer;
}