.navbar {
    background-color: #140b09;
    display: flex;
    justify-content: space-around;
    padding: 4px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    
}
.home{
    text-decoration: none;
    color: #ff4a1c;
    font-size: large;
    margin-right: 20px;
}
.create{
    text-decoration: none;
    color: #ff4a1c;
    font-size: large;

}